.container-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #957dad;
  text-align: left;
  font-family: Itim, sans-serif;
  font-size: 18px;
  background: #f2d3d8;
  border: 2px solid #957dad;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 400px;
}

.container-card .title-card {
  font-weight: bold;
  background-color: #fec8d8;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-card .content-card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.container-card .content-card .left-content,
.container-card .content-card .right-content {
  flex-basis: 48%;
}

.container-card .content-card span {
  color: #1e1e1e;
}

.container-classes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}

.container-filter-class {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-from, .filter-to {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option-btn {
  display: flex;
  gap: 10px;
}

.sort-list {
  display: flex;
  gap: 15px;
}

.sort-item {
  display: flex;
  align-items: center;
}

.container-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
