/* Styles for the container card */
.container-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #957dad;
  text-align: left;
  font-family: Itim, sans-serif;
  font-size: 18px;
  background: #e0bbe4;
  border: 2px solid #957dad;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 400px;
}

/* Styles for the title card */
.container-card .title-card {
  font-weight: bold;
  background-color: #fec8d8;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Styles for the content card */
.container-card .content-card {
  display: flex;
  justify-content: space-between;
  
  gap: 10px;
}

/* Styles for the left and right content */
.container-card .content-card .left-content,
.container-card .content-card .right-content {
  flex-basis: 48%;
}

/* Styles for content spans */
.container-card .content-card span {
  color: #1e1e1e;
}
